<form [formGroup]="range" class="flex justify-center items-center">
  <mat-form-field appearance="outline" class="block">
    <mat-label>Ingresar rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter">
      <input matStartDate formControlName="start" placeholder="Inicio" />
      <input matEndDate formControlName="end" placeholder="Fin" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <!--<mat-divider></mat-divider>-->
<!--  <div
    style="
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1.25rem;
      gap: 1rem;
    "
  >
    <button mat-raised-button (click)="setRangeShortcut(1)">
      Día anterior
    </button>
    <button mat-raised-button (click)="setRangeShortcut(7)">7 días</button>
    <button mat-raised-button (click)="setRangeShortcut(15)">15 días</button>
  </div>-->
</form>
