<section style="border: 2px solid red; display: flex; justify-content: space-around; align-items: center; flex-direction: column; width: 100%; height: 80%;">
  <ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.resourcesTreeResidencial">
      <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 100%;">
        <div style="width: 70%; max-width: 80%; margin: 0; padding: 0;">
          <mat-form-field style="width: 100%">
            <mat-label>Búsqueda <mat-icon>search</mat-icon></mat-label>
            <input matInput type="search" [(ngModel)]="value">
          </mat-form-field>
        </div>
        <div style="width: 100%; height: 90%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
          <div style="width: 70%; max-width: 80%; overflow-y: auto; max-height: 50%">
            <mat-card appearance="raised">
              <mat-card-content>
                <div *ngIf="vm.resourcesTreeResidencial" style="padding: 0 1rem">
                  <app-resource-tree [resourceNode]="vm.resourcesTreeResidencial" [searchTerm]="value"></app-resource-tree>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div style="width: 70%; max-width: 80%;">
            <mat-card appearance="raised">
              <mat-card-content>
                <app-control-date (rangeChange)="store.setSelectedRange($event)"></app-control-date>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-button-toggle-group name="skill" aria-label="Aptitud laboral" [value]="vm.selectedSkillType" (change)="store.setSelectedSkillType($event.value)">
              <mat-button-toggle value="multiskill">MultiSkill</mat-button-toggle>
              <mat-button-toggle value="hospitality">Hospitality</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
