<section class="flex flex-col justify-around items-center w-full h-[80%]">
  <ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.resourcesTreePyme">
      <div class="flex flex-col justify-center align-center w-full h-full">
        <div class="flex justify-center items-center w-full m-0 p-0">
          <mat-form-field class="w-[70%] max-w-[80%]">
            <mat-label>Búsqueda <mat-icon>search</mat-icon></mat-label>
            <input matInput type="search" [ngModel]="vm.pymeSearchTerm" (ngModelChange)="store.setPymeSearchTerm($event)">
          </mat-form-field>
        </div>
        <div class="w-full h-[90%] flex flex-col justify-around items-center">
          <div class="w-[70%] max-w-[80%] overflow-y-auto max-h-[80%]">
            <mat-card appearance="raised">
              <mat-card-content>
                <app-resource-tree [resourceNode]="vm.resourcesTreePyme" [searchTerm]="vm.pymeSearchTerm" type="pyme"></app-resource-tree>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
