@if (store.vm$ | async; as vm) { @if (vm.isLoading) {
<app-spinner />
}
<main class="container">
  <section
    style="
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <!-- <app-control-desk
      [controlDesks]="vm.controlDesk"
      (deskChanged)="store.setSelectedDesk($event)"
    ></app-control-desk> -->
<!--    <div>
      <app-control-date
        (rangeChange)="store.setSelectedRange($event)"
      ></app-control-date>
    </div>-->
<!--    <div style="padding: 3rem">
      <button
        mat-raised-button
        color="primary"
        (click)="store.descargarRazones()"
        [disabled]="!vm.isDateRangeSelected.valid"
      >
        Descargar
      </button>
    </div>-->
    <div style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
      <div [style.width]="vm.selectedPyme.length > 0 || (vm.selectedResidential.length > 0 && vm.selectedRange.valid) ? '20%' : (vm.selectedResidential.length > 0 ? '65%' : '42.5%')" style="height: 100%; transition: width 0.5s ease-in-out; overflow: hidden">
        <h2 style="text-align: center; padding: 1rem 0">Izzi Residencial</h2>
        <app-residencial-layout/>
      </div>
      <div [style.width]="vm.selectedPyme.length > 0 || (vm.selectedResidential.length > 0 && vm.selectedRange.valid) ? '65%' : (vm.selectedResidential.length > 0 ? '20%' : '42.5%')" style="height: 100%; transition: width 0.5s ease-in-out; overflow: hidden">
        <button mat-flat-button color="primary" style="display: flex; flex-direction: column-reverse; height: 3rem" (click)="store.confirmMovement(true)" [disabled]="!vm.selectedRange.valid || vm.selectedResidential.length === 0">
          <span>Mover a PyME</span>
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button mat-flat-button color="accent" style="display: flex; flex-direction: column-reverse; height: 3rem" (click)="store.confirmMovement(false)" [disabled]="vm.selectedPyme.length === 0">
          <span>Mover a Residencial</span>
          <mat-icon>fast_rewind</mat-icon>
        </button>
      </div>
      <div style="width: 45%; height: 100%">
        <h2 style="text-align: center; padding: 1rem 0">Izzi PyME</h2>
        <app-pyme-layout/>
      </div>
    </div>
  </section>
  <footer class="flex-evenly">
    <button mat-raised-button color="warn" (click)="store.sendCloseMessage({})">
      Cerrar
    </button>
  </footer>
</main>
}
