@if (store.vm$ | async; as vm) { @if (vm.isLoading) {
<app-spinner />
}
<main class="h-screen">
  <section class="h-[90%] flex flex-col justify-center items-center">
    <!-- <app-control-desk
      [controlDesks]="vm.controlDesk"
      (deskChanged)="store.setSelectedDesk($event)"
    ></app-control-desk> -->
<!--    <div>
      <app-control-date
        (rangeChange)="store.setSelectedRange($event)"
      ></app-control-date>
    </div>-->
<!--    <div style="padding: 3rem">
      <button
        mat-raised-button
        color="primary"
        (click)="store.descargarRazones()"
        [disabled]="!vm.isDateRangeSelected.valid"
      >
        Descargar
      </button>
    </div>-->
    <div class="relative flex justify-around items-center w-full h-full">
      <div class="w-1/2 h-full overflow-hidden">
        <h2 class="text-center pt-4 pb-0 m-0">Izzi Residencial</h2>
        <app-residencial-layout/>
      </div>
      <div class="absolute inset-0 pointer-events-none flex flex-col justify-evenly items-center z-10">
        <button class="pointer-events-auto flex flex-col justify-center items-center px-4 py-2 bg-blue-500 hover:bg-blue-600 border-white text-white font-medium rounded hover:cursor-pointer disabled:bg-gray-300 disabled:text-gray-400 disabled:cursor-not-allowed" (click)="store.confirmMovement(true)" [disabled]="!vm.selectedRange.valid || vm.selectedResidential.length === 0 || !vm.selectedSkillType">
          <span>Mover a PyME</span>
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button class="pointer-events-auto flex flex-col justify-center items-center px-4 py-2 bg-blue-500 hover:bg-blue-600 border-white text-white font-medium rounded hover:cursor-pointer disabled:bg-gray-300 disabled:text-gray-400 disabled:cursor-not-allowed" (click)="store.confirmMovement(false)" [disabled]="vm.selectedPyme.length === 0">
          <span>Mover a Residencial</span>
          <mat-icon>fast_rewind</mat-icon>
        </button>
      </div>
      <div class="w-1/2 h-full overflow-hidden">
        <h2 class="text-center pt-4 pb-0 m-0">Izzi PyME</h2>
        <app-pyme-layout/>
      </div>
    </div>
  </section>
  <footer class="w-full flex justify-center items-center">
    <button class="bg-black border-white text-white font-semibold px-4 py-2 rounded hover:bg-gray-800" (click)="store.sendCloseMessage({})">
      Cerrar
    </button>
  </footer>
</main>
}
